<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Permisos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let perm of permisssions">
      <div style="width: 30px; height: 30px; margin-right: 10px; border-radius: 100%;" [style.background-color]="perm.color"></div>
      <ion-label>{{perm.role}}</ion-label>
      <ion-label slot="end" [style.color]="perm.color">
        {{perm.status}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
