<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> <ion-icon name="bag-outline"></ion-icon> Mis Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="bag-outline"></ion-icon> Mis Tareas
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button size="block" color="primary" 
    >Escanear Tag</ion-button
  > -->

  <ion-list>
    <ion-item *ngFor="let task of tareas">
      <ion-label (click)="scanearData(task)">{{task.activity}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
